[INPUT]
# format without "" or '': https://<team_url>.>cluster>.celonis.cloud/
url = https://ofi-partner-sandbox.us-1.celonis.cloud/

# format without "" or '': xxx
token = MTUxNjdmODctZDg5ZS00OWY0LWI3MDgtNTZkODI5NzZiZmE2OnlZWEFKbTFna1ZLTDMralQ1dVFYZFRtSE5ic2tFUzU2RUhKbEdmdHlid1NK

# format without "" or '': USER_KEY / APP_KEY
key_type = APP_KEY

# format WITH "<data_pool_name>", NOT ' ': ["data_pool_id_1","data_pool_id_2",... ]
# Leave empty ( = [] ) to extract all data pools
#data_pool_ids_to_extract_from =["f98b11e3-e2a6-4686-9d26-073c2c5ac482"]
#data_pool_ids_to_extract_from= ["566fb310-79e9-4e24-adeb-4ba6b759c9fe"] has extractions

data_pool_ids_to_extract_from= ["fe909e57-44bb-4bf5-8a12-a93481cfeaf5"] 
#data_pool_ids_to_extract_from = []
# format WITH "<data_model_name>", NOT ' ': ["data_model_id_1","data_model_id_2",... ]
# Leave empty ( = [] ) to extract all data models
#data_model_ids_to_extract_from = ["23527ec3-081e-4fc3-a935-29945e2fa06e"]
data_model_ids_to_extract_from = []

# format without "" or '': folder/<file_name>.xlsx
#file_path_to_excel_template = /home/jovyan/Test_M01/inputs/Requirements Template (OCPM).xlsx
file_path_to_excel_template=inputs/Testing_Edit.xlsx

# url = https://tc-apc-reduction.us-1.celonis.cloud/
# token = YTQyYTg3NmMtNjU5Ni00MGI2LTk2OWMtMDI5Mzk0NDRmNzYzOlBYZWgyajdjTW8yR1pzZlMwMEtKRjZBMWRGOGp0V0UzUXJKTFo2Mm9UZmpl
#token= ZWE0Nzk1ZGMtODdmMS00YWIxLWIzZWUtOTdlODIxOGJiYTY2OmE0OENlenQrcVpqeGJ6UGZ3K3Z3Y0FDdFZjTGp3SFFtaXgvRndubUd0Wm1I  --token jscv (up)
#token = YzA4MDgzYWItMDhjZC00MWU5LThhZWYtMTMwYmJhZTQ2MTcyOjNMU0oxVmpIYU9NdlZjV0NWM0RMUGs5Y3JBd2MrWVhReTVvNng2V0MxL2lF
# data_pool_ids_to_extract_from = ["b7027c1d-5b96-41fa-82fc-76a20248f85c"]
#data_pool_ids_to_extract_from =["b35c6e4d-8d08-408f-8100-06964de28ade"] - juan palencia ref
#data_model_ids_to_extract_from = ["a3ba4edf-2da9-4c57-ba9b-8285d18a8ebf"]data_model_ids_to_extract_from = ["23527ec3-081e-4fc3-a935-29945e2fa06e"]
#data_pool_ids_to_extract_from =["fe909e57-44bb-4bf5-8a12-a93481cfeaf5"] - jscv

excel_file_path = inputs/Requirements Template (OCPM) (Custom).xlsx
path_to_M02 = ~/ocpm_migration/M02/M02_Extraction/

# Set to 1 to enable the data access, 0 to disable
getDataModelInfo = 1
getDataJobInfo = 1
getExtractionInfo = 1
getActivityInfo = 1
onlyCustomInfo = 1